*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: cornflowerblue;
    height: 100vh;
}

header{
    display: flex;
    padding: 20px;
    margin-bottom: 40px;
    justify-content: center;
}

header > nav{
    display: flex;
    gap: 20px;
    
}

.delete-item {
    margin-top: 10px;
}

.btn{
    font-weight: 900;
}

.alert-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 10; 
}

.alert-container {
    border: #fff solid 0;
    position: fixed;
    top: 10px;
    right: 10px;
    width: 300px;
    z-index: 10;
}

.alert-error {
    background-color: firebrick;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    border: #fff solid 1;
}

.alert-success{
    background-color: green;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    border: #fff solid 1;
}

h4{
    text-decoration: underline;
    margin-bottom: 20px;
}

#wrapper-home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin: auto;
    margin-top: 10%;

}

.wrapper{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    margin: auto;
}

.wrapper-col{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: darkslateblue;
    color: ghostwhite;
    padding: 20px;
    border-radius: 10px;
    max-height: 80vh; 
    overflow-y: auto;
}

.wrapper-col-center{
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 10%;
}

a{
    text-decoration: none;
    color: ghostwhite;
}

a:hover{
    color:firebrick;
    font-weight: semibold;
}

.btn-success {
    font-weight: normal;
}

.session-intitule{
    font-size: larger;
    font-weight: bold;
}

.btn-lg{
    margin-top: 20px;
}



