{% extends 'base.html.twig' %}

{% block title %}Liste des Stagiaires
{% endblock %}

{% block body %}
	<div class="wrapper">
		<h1>Liste des Stagiaires</h1>

		<ul>
			{% for stagiaire in stagiaires %}
				<li>
					<a href="{{ path('stagiaire_detail', { 'id': stagiaire.id }) }}">
						{{ stagiaire.nom }}
						{{ stagiaire.prenom }}
					</a>
				</li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}
