{% extends 'base.html.twig' %}

{% block title %}Liste des Sessions
{% endblock %}

{% block body %}
	<h1>Liste des Sessions</h1>

	<ul>
		{% for session in sessions %}
			<li>{{ session.intitule }}
				-
				{{ session.dateDebut|date('Y-m-d') }}
				au
				{{ session.dateFin|date('Y-m-d') }}</li>
		{% endfor %}
	</ul>
{% endblock %}
