{% extends 'base.html.twig' %}

{% block title %}Créer un Module
{% endblock %}

{% block body %}
	<h1>Créer un Module</h1>

	{{ form_start(form) }}
	{{ form_widget(form) }}
	<button class="btn">{{ button_label|default('Enregistrer') }}</button>
	{{ form_end(form) }}
{% endblock %}
